@font-face {
  font-family: main;
  src: url(../assets//fonts/NeueMachina-Light.woff2);
  font-weight: 400;
}

@font-face {
  font-family: main;
  src: url(../assets//fonts/NeueMachina-Regular.woff2);
  font-weight: 600;
}

@font-face {
  font-family: main;
  src: url(../assets//fonts/NeueMachina-Ultrabold.woff2);
  font-weight: 900;
}

@font-face {
  font-family: space;
  src: url(../assets//fonts//SpaceGrotesk-VariableFont_wght.woff2);
}

:root {
  --primary-color: #8a51fe;
  --secondary-color: #fff;
  --dark-color: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: space;
  font-size: 16px;
}

html::selection {
  background: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

.transition {
  position: absolute;
  height: 100vh;
}